lark==1.2.2
fastapi==0.115.12
uvicorn[standard]==0.34.3
typer==0.16.0
pydantic==2.12.5
canonicaljson==2.0.0
watchdog==6.0.0
dask[complete]==2025.5.1
numpy==2.3.2
numba==0.64.0
SimpleITK==2.5.2
nnunetv2==2.6.2
torch==2.8.0; python_version < "3.13"
torch==2.10.0; python_version >= "3.13"
